<head>
    <% include ../partials/head %>
</head> 

 <header>
    <% include ../partials/navbar %>
  </header>

<h1> Contact </h1>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1></h1>
  </div>

  <p id="demo">
   Facebook:
  </p>

  <p id="demo">
   Email: maygenjean@thecajunqueen.com
  </p>



</body>

</html>

