<head>
    <% include ../partials/head %>
</head> 

 <header>
    <% include ../partials/navbar %>
  </header>

<h1> Projects </h1>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1></h1>
  </div>

  <p id="demo">
  Stay tuned!
 
  </p>

</body>

</html>

